/* ===== FILTER ====*/

.filter {
    background-color: #F9F1E7;
}

.filter-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;

    .filter_box_left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .filter_box-icon {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .filter_box-icon img {
        width: 25px;
        height: 25px;
        object-fit: cover;
    }

    .filter_name {
        font-size: 20px;
        padding-right: 20px;
        /* padding: 0; */
        margin: 0;
        padding: 0;
    }

    .filter_box-title {
        padding: 7px 7px 7px 30px;
        text-align: center;
        margin-left: 20px;
        border-left: 2px solid #9F9F9F;
        margin: 0;
    }

    .show {
        padding: 10px;
        width: 45px;
        /* height: 30px; */
        text-align: center;
        border: none;
        color: #9F9F9F;
        outline: none;

    }

    .default {
        padding: 20px;
        width: 180px;
        height: 50px;
        border: none;
        color: #9F9F9F;
        outline: none;
    }

}

/* ===== END FILTER ====*/